.ItemInsert {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .msg {
    margin-top: 3.2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;

    @include tablet {
      margin-top: 2.4rem;
    }
  }

  .Insertform {
    margin-top: 1.6rem;
    text-align: center;

    input {
      width: 200px;
      @include Input;

      margin: 4px 0;
      &:focus {
        box-shadow: $input-focus;
        border: $border;
      }
    }

    .categorySelect {
      width: 200px;
      border-radius: 6px;
      height: 3.2rem;
      padding: 0.32rem 1.12rem;
      font-size: 1.3rem;
      margin: 4px 0;
    }

    button {
      @include button;
      margin: 0.2rem 0;
      width: 200px;
      height: 2.88rem;

      &:hover {
        @include button-hover;
      }
    }
  }

  .modalWrapper {
    margin: 90px 0;

    p {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      color: $darkblack;
    }

    .InsertModalDesc {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
