.main {
  display: flex;
  justify-content: flex-end;

  button {
    background: $white;
    color: $emphasis-color;
    font-weight: 400;
    margin-left: 5px;
    transition: 0.3s ease all;

    &:hover {
      font-weight: 700;
    }
  }

  .modalWrapper {
    padding: 4.8rem;
    font-size: 1.36rem;

    @include tablet {
      padding: 4rem;
    }

    .modalTitle {
      color: $darkblack;
      font-size: 1.92rem;
    }

    .modalDescWrapper {
      .modalDesc {
        font-size: 1.6rem;
        margin: 10px 0 2px 0;
      }
    }
  }
}
