$border: 1px solid #bcbcbc;
$darkblack: #1d1d1d;
$white: #fff;

.template {
  width: 80rem;
  margin: 20vh auto;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  border: $border;

  .app-title {
    background-color: #cfcfcf;
    color: $darkblack;
    height: 7.2rem;
    font-size: 3.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: $border;
  }

  .app-content {
    background-color: $white;
    padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    min-height: 390px;
  }
}
