.Load-all {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 5px;
    background: #fff;
    color: rgb(255, 67, 67);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.3s ease all;
    outline: none;
    font-weight: 400;

    &:hover {
      color: rgb(255, 93, 93);
      font-weight: 700;
    }
  }

  .modalWrapper {
    padding: 4.8rem;
    font-size: 1.36rem;

    .modalTitle {
      font-size: 1.92rem;
      color: black;
    }

    .modalDescWrapper {
      .modalDesc {
        font-size: 1.6rem;
        padding: 0;
        margin: 10px 0 2px 0;
        font-weight: bolder;
        color: black;
      }
    }
  }
}
