.Load-all {
  display: flex;
  justify-content: flex-end;

  button {
    margin-left: 5px;
    background: #fff;
    color: rgb(155, 155, 155);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: 0.2s ease all;
    outline: none;
    width: 4rem;

    &:hover {
      color: #000000;
      font-weight: bolder;
    }
  }
}
