// Break Point
$mobile: 374px;
$tablet: 767px;
$desktop: 1023px;

// Media Querys
@mixin tablet {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
