$darkblack: #1d1d1d;
$border: 1px solid #bcbcbc;
$btn-back: #424242;
$white: #fff;
$light-gray: #f0f0f0;
$input-focus: 0px 0px 3px 4px rgba(0, 162, 255, 0.1);

@mixin button {
  margin-left: 5px;
  border-radius: 6px;
  background: $btn-back;
  color: $white;
  transition: 400ms ease all;
}

@mixin button-hover {
  background: $light-gray;
  color: $darkblack;
  border: $border;
  font-weight: 700;
}

@mixin Input {
  height: 3.2rem;
  padding: 0.32rem 1.6rem;
  border: $border;
  border-radius: 6px;
}

.ItemInsert {
  display: flex;
  justify-content: center;
  flex-direction: column;

  .msg {
    margin-top: 3.2rem;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 700;
  }

  .Insertform {
    margin-top: 1.6rem;
    text-align: center;

    input {
      width: 200px;
      @include Input;

      margin: 4px 0;
      &:focus {
        box-shadow: $input-focus;
        border: $border;
      }
    }

    .categorySelect {
      width: 200px;
      border-radius: 6px;
      height: 3.2rem;
      padding: 0.32rem 1.12rem;
      font-size: 1.3rem;
      margin: 4px 0;
    }

    button {
      @include button;
      margin: 0.2rem 0;
      width: 200px;
      height: 2.88rem;

      &:hover {
        @include button-hover;
      }
    }
  }

  .modalWrapper {
    margin: 90px 0;

    p {
      text-align: center;
      font-size: 3rem;
      font-weight: 700;
      color: $darkblack;
    }

    .InsertModalDesc {
      text-align: center;
      font-size: 1.5rem;
    }
  }
}
