@import "../../scss/main.scss";

.desc {
  display: flex;
  justify-content: center;
  font-size: 1.28rem;
  color: $darkblack;
}

.ItemSearch {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  input {
    width: 60%;
    @include Input;

    &:focus {
      box-shadow: $input-focus;
      border: $border;
    }
  }

  button {
    @include button;
    width: 4.8rem;

    &:hover {
      @include button-hover;
    }
  }
}
