@import "../../scss/main.scss";

.ItemSearchResult {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-height: 250px;
  overflow: auto;

  .ItemList {
    text-align: center;
    padding: 1.6rem;
    border-bottom: 1px solid #dfdfdf;
    width: 80%;
    margin: 0 auto;

    &:last-child {
      border: none;
    }

    &:nth-child(even) {
      background: #f8f9fa;
    }

    .ItemName {
      font-size: 2.08rem;
      color: $darkblack;
      font-weight: 700;
    }

    .ItemCategory {
      font-size: 1.44rem;
      color: $gray;
      margin: 0.3rem;
    }

    .ItemCaution {
      font-size: 1.6rem;
      color: $emphasis-color;
      font-weight: 700;
    }

    .ItemHow {
      font-size: 1.44rem;
    }
  }
}
