.ItemSearchResult {
  display: flex;
  align-items: center;
  flex-direction: column;

  .ItemSearchResultTitle {
    display: block;
    font-size: 1rem;
    color: #bdbdbd;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    text-align: center;
    .ItemName {
      font-size: 1.3rem;
      color: #212121;
      font-weight: bolder;
    }
  }
}
